<%@products.each_with_index do |product, index|%>
<div class="row col-best">
  <div class="col-md-4 ">
    <div class="col-product row">
    <div class="col-md-5">
    <img src="assets/inverter.jpg" class="img-responsive" width="175" alt="">
      </div>
    <div class="col-md-7">
      <strong>INVERTER MODEL & CAP 650 VA SHINY</strong>
        <p>Battery Qty : 1 NO</p>
      <p>Load : 3 Lights, 3 Fans, 1 TV</p>
      <div class="col-product-button">
      <a href="#" class="item_add">
        <span class="white item_price">Rs. 12345 <i> </i> </span>
      </a>
        </div>
    </div>
    </div>
  </div>
</div>
<%end%>


