<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<!--header-->
<div class="header" >
  <div class="top-header" >
    <div class="container">
      <div class="top-head" >
        <div class="header-para">
          <ul class="social-in">
            <li><a href="#"><i> </i></a></li>
            <li><a href="#"><i class="ic"> </i></a></li>
            <li><a href="#"><i class="ic1"> </i></a></li>

          </ul>
        </div>

        <ul class="header-in">
          <li ><a href="#" >  brands</a></li>
          <li><a href="#">about us</a> </li>
          <li><a href="#">   contact us</a></li>
          <li ><a href="#" >   how to use</a></li>
        </ul>
        <div class="search-top">
          <div class="search">
            <form>
              <input type="text" value="search about something ?" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'search about something ?';}" >
              <input type="submit" value="" >
            </form>
          </div>
          <div class="world">
            <ul >
              <li><a href="#"><span> </span></a> </li>
              <li><select class="in-drop">
                <option>EN</option>
                <option>DE</option>
                <option>ES</option>
              </select>
              </li>
            </ul>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!---->

  <div class="header-top">
    <div class="container">
      <div class="head-top">
        <div class="logo">
          <a href="#"><img src="assets/logo.png" alt="" ></a>
        </div>
        <div class="top-nav">
          <ul class="megamenu skyblue">
            <li class="active grid"><a  href="#">Inverters</a>
              <div class="megapanel">
                <div class="row">
                  <div class="col1">
                    <div class="h_nav">
                      <ul>
                        <li><a href="#">Sinewave Inverters</a></li>
                        <li><a href="#">Squarewave Inverters</a></li>
                        <li><a href="#">Microtek</a></li>
                        <li><a href="#">Brand1</a></li>
                        <li><a href="#">Brand2</a></li>
                        <li><a href="#">Brand3</a></li>
                        <li><a href="#">Brand4</a></li>
                        <li><a href="#">Brand5</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col1">
                    <div class="h_nav">
                      <ul>
                        <li><a href="#">CAP 600 VA SEBZ</a></li>
                        <li><a href="#">CAP 850 VA SEBZ</a></li>
                        <li><a href="#">CAP 1500 VA SEBZ</a></li>
                        <li><a href="#">CAP 2500 VA SEBZ</a></li>
                        <li><a href="#">CAP 650 VA SHINY</a></li>
                        <li><a href="#">CAP 850 VA SHINY</a></li>
                        <li><a href="#">Capacity3</a></li>
                        <li><a href="#">Capacity4</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col1">
                    <div class="h_nav">
                      <h4>Popular Brands</h4>
                      <ul>
                        <li><a href="#">Microtek</a></li>
                        <li><a href="#">Luminous</a></li>
                        <li><a href="#">Su-Kam</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a   href="#">Solar Products</a>
              <div class="megapanel" style="width:70%;">
                <div class="row">
                  <div class="col1">
                    <div class="h_nav">
                      <ul>
                        <li><a href="#">Solarize Your Grid</a></li>
                        <li><a href="#">Solar Off Grid</a></li>
                        <li><a href="#">Solar On Grid</a></li>
                        <li><a href="#">Solar Water Heater</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col1">
                    <iframe src="https://player.vimeo.com/video/16878818"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
                </div>
              </div></li>
            <li class="grid"><a  href="#">Industrial Products</a>
              <div class="megapanel"  style="width:70%;">
                <div class="row">
                  <div class="col2">
                    <div class="h_nav">
                      <ul>
                        <li><a href="#">Servo Stabilizers</a></li>
                        <li><a href="#">CVT</a></li>
                        <li><a href="#">Isolation Transformers</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="col1">
                      <iframe src="https://player.vimeo.com/video/8118831"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="grid"><a  href="#">Home Products</a>

            </li>
            <li><a  href="#">Batteries</a>
              <div class="megapanel"  style="width:33%;">
                <div class="row">
                  <div class="col4">
                    <div class="h_nav">
                      <ul>
                        <li><a href="#">UPS</a></li>
                        <li><a href="#">Inverters</a></li>
                        <li><a href="#">Genset </a></li>
                        <li><a href="#">AutoMotive</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div></li>


          </ul>
        </div>
        <div class="cart box_1">
          <a href="#">
            <h3> <div class="total">
              <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</div>
              <img src="assets/cart.png" alt=""/></h3>
          </a>
          <p><a href="javascript:;" class="simpleCart_empty"><img src="assets/cart-c.png"  alt=""></a></p>
          <div class="clearfix"> </div>
        </div>

        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>